.container {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: rgb(255, 244, 244); */
}
@media (min-width: 768px) {
  /* Small */
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* Medium */
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* Large */
  .container {
    width: 1170px;
  }
}
